main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    padding: 0 1rem;

    .leftAside {
        width: 18vw;
        max-width: 24rem;
        height: calc(100vh - 10rem);
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 5rem;

        .products {
            max-height: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: $color3;
            box-shadow: 0rem 0rem 2rem $color0;
            overflow-y: auto;
            overflow-x: hidden;
            padding: 1rem;

            ul {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                align-content: center;
                gap: 1rem;
                width: 100%;


                li {
                    font-size: 1.4rem;
                    text-align: center;
                    width: 100%;

                    a {
                        display: inline-block;
                        width: 100%;
                        padding: .5rem 3rem;
                        color: $color4;
                        font-weight: 600;

                        &:hover {
                            background-color: $color2;
                        }
                    }
                }
            }
        }

        .brands {
            max-height: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: $color2;
            box-shadow: 0rem 0rem 2rem $color0;
            overflow-y: auto;
            overflow-x: hidden;
            padding: 1rem;

            ul {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                align-content: center;
                gap: 1rem;
                // background-color: red;
                width: 100%;

                li {
                    font-size: 1.4rem;
                    width: 100%;
                    text-align: center;

                    a {
                        display: inline-block;
                        width: 100%;
                        padding: .5rem 3rem;
                        color: $color4;
                        font-weight: 600;

                        &:hover {
                            background-color: $color3;
                        }
                    }
                }
            }
        }
    }

    .itemsContainer {
        width: 100%;
        display: flex;
        justify-content: center;
        gap: 1rem;
        align-items: center;
        padding: 2rem 1rem;

        .navButton {
            padding: 1rem;
            border: none;
            $background-color: $color5;
        }

        .active {
            background-color: $color3;
            cursor: pointer;
        }

        .cards--container {
            display: flex;
            gap: 1rem;
            flex-wrap: wrap;
            justify-content: center;

            .card {
                background-color: $color5;
                display: flex;
                flex-direction: column;
                justify-content: center;
                border-radius: 1rem;
                align-items: center;
                width: 22rem;
                height: 22rem;
                position: relative;
                overflow: hidden;
                box-shadow: 0rem 0rem 2rem $color0;

                .imgContainer {
                    width: 60%;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    .popUp {
                        position: absolute;
                        top: 0;
                        background-color: $color3;
                        width: 100%;
                        text-align: center;
                        font-size: 1.5rem;
                        text-transform: uppercase;
                        font-weight: 600;
                        color: $color4;
                    }

                    img {
                        width: 100%;
                        // height: 100%;
                    }
                }

                &--data {
                    background-color: $color2;
                    display: flex;
                    flex-direction: column;
                    gap: .2rem;
                    width: 100%;
                    text-align: center;
                    padding: .5rem;

                    h3 {
                        font-size: 1.4rem;
                        font-weight: 500;
                        color: $color5
                    }

                    .score {
                        font-size: 1.4rem;

                        .gold {
                            color: $color3;
                        }
                    }
                }

                .addToCart {
                    width: 100%;
                    height: 2rem;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 1.4rem;
                    border: none;
                    background-color: $color3;
                    color: $color5;
                    padding: 1.2rem;
                    cursor: pointer;

                    h4 {
                        width: 100%;
                        font-weight: 400;
                        display: flex;
                        justify-content: center;
                        gap: .5rem;
                    }
                }
            }
        }
    }

    .rightAside {
        width: 50vw;
        max-width: 24rem;
        background-color: $color3;
        box-shadow: 0rem 0rem 2rem $color0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;


        h2 {
            color: $color4;
            text-align: center;
            padding: 1rem;
        }

        .cart {
            max-height: 70vh;
            overflow-x: auto;

            .cartItem {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: .5rem;
                background-color: $color2;
                border: 1px solid $color3;

                // padding: .2rem;
                .imgContainer {
                    width: 4rem;
                    height: 4rem;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: $color5;

                    img {
                        width: 90%;
                    }
                }

                .data {
                    display: flex;
                    flex-direction: column;
                    // align-self: center;
                    padding: .5rem;
                    width: 80%;
                    gap: .5rem;

                    :first-child {
                        font-size: 1.4rem;
                        align-self: center;
                        color: $color4;
                        text-overflow: ellipsis;
                    }

                    :last-child {
                        display: flex;
                        justify-content: space-between;
                        color: $color4;

                        h4 {
                            font-size: 1.2rem;
                        }
                    }
                }

                button {
                    background-color: $color3;
                    padding: .6rem;
                    font-size: 1.6rem;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    cursor: pointer;
                }
            }
        }

        .cartTotal {
            display: flex;
            justify-content: space-around;
            align-items: center;
            font-size: 1.5rem;
            color: $color4;
            padding: 0.5rem;
            #btnPagar {
                background-color: $color2;
                border: 1px solid $color2;
                padding: .5rem 1rem;
                color: $color4;
                font-weight: 600;
                cursor: pointer;
                &:hover{
                    box-shadow: 1px 1px 2px #000;
                }
            }
        }
    }
}